body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
}

.container{
    display: grid;
    grid-template-areas: 
        "navbar navbar navbar"
        "sidebar main bar2"
        "footer footer footer";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 10px;
        height: 100vh;
        margin: 0;
}

.navbar{
    display: flex;
    position: relative;
    grid-area: navbar;
    background-color: #5600B3;
    padding: 1.5rem 6rem;
    text-align: center;
    margin: 0;
    align-content: space-between;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    border-radius: 0px;
}

.navbar ul{
    display: flex;
    width: 350px;
    align-content: space-between;
    justify-content: center;
    align-items: flex-end;
    gap: 200px;
}

.navbar ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navbar ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 500;
}



.navbar ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
}



.navbar ul li a .icon .clicked{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #5600B3;
}




.navbar ul li.active a .icon{
    transform: translateY(35px);
    color: #5600B3;
}



.bloco{
    position: absolute;
    top: 50%;
    left: 14%;
    width: 100px;
    height: 95px;
    background: white;
    border-radius: 50%;
    border: 6px solid white;
    transition: 0.5s;
}

.bloco::before{
    content: '';
    position: absolute;
    top: 20%;
    left: -56px;
    width: 55px;
    height: 50px;
    background: #5600B3;
    border-bottom-right-radius: 55px;
    box-shadow: 9px 19px 0 0 white;
}
.bloco::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 101px;
    width: 55px;
    height: 50px;
    background: #5600B3; 
    border-bottom-left-radius: 55px;
    box-shadow: -9px 19px 0 0 white;
}
.navbar ul li:nth-child(1).active ~ .bloco{
    transform: translateX(calc(70px * -0.3));
}

.navbar ul li:nth-child(2).active ~ .bloco{
    transform: translateX(calc(70px * 3.5));
}

.navbar ul li:nth-child(3).active ~ .bloco{
    transform: translateX(calc(70px * 7.2));
}

.navbar ul li:nth-child(4).active ~ .bloco{
    transform: translateX(calc(70px * 11));
}

.navbar ul li:nth-child(5).active ~ .bloco{
    transform: translateX(calc(70px * 14.8));
}




/*  Menu home   */




.main{
    display: grid;
    position: relative;
    grid-area: main;
    grid-template-areas:
        "boxH boxH boxH"
        "boxH boxH boxH";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1px;
        column-gap: 10px;
        height: 100vh;
        align-content: center;
        align-items: center;
        justify-content: center;
        top: -110px;
}


.boxH   {
    display: flex;
    height: 500px;
    width: 300px;
    background-color: #5600B3;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}


/*  Startups   */

.Startups{
    display: none;
}

.Startups.openStartups{
    display: grid;
    position: relative;
    grid-area: main;
    grid-template-areas:
        "boxS boxS boxS"
        "boxS boxS boxS";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1px;
        column-gap: 10px;
        height: 100vh;
        align-content: center;
        align-items: center;
        justify-content: center;
        top: 30px;
}


.Vagas{
    display: none;
}

.Vagas.openVagas{
    display: grid;
    position: relative;
    grid-area: main;
    grid-template-areas:
        "boxV boxV boxV"
        "boxV boxV boxV";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1px;
        column-gap: 10px;
        height: 100vh;
        align-content: center;
        align-items: center;
        justify-content: center;
        top: 30px;
}




.boxS{
    display: flex;
    height: 200px;
    width: 300px;
    background-color: #5600B3;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}


.boxV{
    display: flex;
    height: 200px;
    width: 300px;
    background-color: #5600B3;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}



/*  Startups   */




@media screen and (max-width: 992px) {
    .main{
        display: grid;
        grid-area: main;
        grid-template-areas: 
            "box box"
            "box box"
            "box box";
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 1px;
            height: 100vh;
            transition: all;
            z-index: -1;
    }
}


@media screen and (max-width: 700px) {

    .navbar{
        display: flex;
        grid-area: navbar;
        background-color: #5600B3;
        padding: 10px;
        text-align: center;
        margin: 0;
        align-content: space-between;
        justify-content: center;
        gap: 50px;
        flex-direction: column;
    }

    .main{
        display: grid;
        grid-area: main;
        grid-template-areas: 
            "box"
            "box"
            "box"
            "box"
            "box"
            "box";
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 1px;
            height: 100vh;
            transition: all;
        z-index: -1;
    }
}
